.header--wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 15px;
  border-radius: 40px;
  box-shadow: gray 2px 2px 2px;
}

.fa-user-circle {
  font-size: 3.5rem;
  margin: 15px;
}

.span--Username {
  font-size: 33px;
  font-weight: bold;
}

.btn--logout {
  margin-left: 12rem;
}
