.todoContainer {
  display: inline-block;
}

.todoList {
  display: flex;
  background-color: white;
  border-radius: 40px;
  box-shadow: gray 2px 2px 2px;
  margin: 50px;
  width: 50vw;
  height: 80px;
}

.todoDate {
}

.todoContent_checkbox {
}

.todoContent_delete {
}

.todoContent_deleteButton {
}

.todoContent_deleteButton > button > .far {
}
