.todoLists {
  display: inline-block;
}

.todoList {
  display: flex;
  background-color: white;
  border-radius: 40px;
  box-shadow: gray 2px 2px 2px;
  margin-top: 24.5px;
  width: 50vw;
  height: 80px;
}
