.todoLists {
  border: 2px solid var(--tweets-component-color);
}

.todoList {
  list-style: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--main-border-color);
}

.todoDate {
}

.todoContent_checkbox {
}

.todoContent_delete {
}

.todoContent_deleteButton {
}

.todoContent_deleteButton > button > .far {
}
