.todo_Container {
  display: inline-flex;
}

.todoList {
  display: inline-table;
  list-style: none;
  background-color: white;
  border-radius: 45px;
  box-shadow: gray 2px 2px 2px;
  margin: 15px;
  padding: 20px;
}

.todoDate {
  font-size: 25px;
  text-shadow: gray 2px 2px 2px;
}

.todoContent {
  font-size: 35px;
}
