.filterbar__container {
  background-color: white;
  border-radius: 45px;
  box-shadow: gray 2px 2px 2px;
}
.filterbar__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.tempList {
  display: inline-block;
}
