* {
  box-sizing: border-box;
  font-family: "BMHANNAPro";
  font-size: 20px;
  margin: 0;
  padding: 0;
}

:root {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  --default-text-color: rgb(255, 255, 255);
}

main {
  max-width: 800px;
  min-width: 500px;
  padding: 25px;
  border-radius: 40px;
}

list {
  display: inline;
}
