.header--wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 15px;
  border-radius: 40px;
  box-shadow: gray 2px 2px 2px;
  height: auto;
}

.fa-user-circle {
  margin: 10px;
  font-size: 3rem;
}

.span--Username {
  font-size: 33px;
  font-weight: bold;
}

.btn--logout {
  margin-left: auto;
  margin-right: 30px;
}
